
.listitem {
    max-width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.beerdetail {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.image {
    height: 400px;
    padding: 1rem;
}