html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color:olivedrab;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

header {
  background-color: darkolivegreen;
  color: white;
  font-weight: 900;
  padding: 0.5rem; 
}